.dropdown-item.active,
.dropdown-item:active {
    background-color: #ffbd30 !important;
    color: black !important;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: block;
    /* Đảm bảo rằng menu luôn hiển thị */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: auto;
    visibility: hidden;
    /* Ẩn menu theo mặc định */
    opacity: 0;
    /* Ẩn menu theo mặc định */
    transition: visibility 0.3s, opacity 0.3s ease;
}

/* Hiển thị menu khi hover */
.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    visibility: visible;
    opacity: 1;
}